.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg,#000000,#4151ff)
   
}

p {
    color: white!important;
}

h4 {
    color: white !important;
}