.cardCustom {
  border-radius: 15px;
  background: #4151ff;
  box-shadow: inset 8px 8px 14px #28329e, inset -8px -8px 14px #5a70ff;
  overflow: hidden;
  padding: 10px;
  width: 18rem;
  margin: 5px;
}

.cardCustom:hover {
  border-radius: 15px;

  background: #2534d4;
  box-shadow: inset 8px 8px 14px #172083, inset -8px -8px 14px #3348ff;

  color: var(--alert) !important;
}
